.shinitai {
	margin: auto;
	width: 1000px;
	position: relative;
	display: block;
	padding: 20px;
    overflow: hidden;
}

.pic {
	position: relative;
	display: inline-block;
	float: left;
	width: 300px;
	margin-right: 15px;
    float: left;
}

.text {
	position: relative;
	display: inline-block;
	text-align: left;
	float: left;
	margin: 30px 0 0 0;
	width: 400px;
	
}

p {
	text-align: center;
}
