body {
    margin: 0;
    font-family: "Bentham", "Book Antiqua", "Times New Roman";
    font-size: 16px;

    background-color: #ecdfcb;
	color: #333;
}



/* HEADER */
#arthur {
    position: relative;
	top: 0;
	padding: 10px 20px;
	height: 100px;
	width: 100%;
}

#logo {
	display: block;
	position: absolute;
	float: left;
	width: 200px;
	height: auto;
	margin: 0 0 10px 0;
	clear: both;
	font-family: "Meddon", "Lucida Calligraphy";
}



/* BODY */
#alfred {
    position: relative;
    margin: 10px 10px 10px 10px;
}

	#alfred h1 {
			font-family: "Meddon", "Lucida Calligraphy";
			font-size: 20px;
	}



/* FOOTER */
#kiku {
	position: absolute;
	padding: 10px;
	margin: 20px 20px 10px 20px;
	width: calc(100% - 40px);
	height: auto;
	clear: both;
	bottom: 0;

	background-color: #fff;
	border: #e5cdb2 3px solid;
}

.box {
	display: inline-block;
	position: relative;
	width: calc(100% / 3 - 20px)
}



/* FUNCTIONS */

::-webkit-scrollbar-track {
	background-color: #fff;
}
	::-webkit-scrollbar {
		width: 10px;
		background-color: #fff;
	}
	::-webkit-scrollbar-thumb {
		background-color: #e5cdb2;
	}

::selection {
	background-color: #e5cdb2;
	color: #fff;
}



/* MEDIA */

video {
	display: block;
	margin: 30px 30px 30px 10px;
	float: left;

	border: #e5cdb2 3px solid;
}



/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
	video {
		display: block;
		width: 100%;
		height: auto;
		left: 0;

		border: #e5cdb2 3px solid;
	}
    
    #logo {
		position: relative;
		clear: both;
		width: 100%;
    }

	#alfred, #arthur, #kiku {
		left: 0;
		right: 0;
	}
}